@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .App {
    background: linear-gradient(180deg, #3b82f6 0%, #acccff 100%);
  }

  .title {
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
      0px 18px 23px rgba(0, 0, 0, 0.1);
  }

  .sign-in {
    text-shadow: 1px 1px 1px #000;
  }

  .login-form {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
}
